{% extends 'base.html.twig' %}

{% block title %}Магазины{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('home') }}">Главная</a></li>
        <li class="breadcrumb-item"><a href="{{ path('market') }}">Витрина</a></li>
        <li class="breadcrumb-item"><a href="{{ path('market.categories') }}">Категории</a></li>
        <li class="breadcrumb-item">Шаблоны</li>
    </ol>
{% endblock %}

{% block body %}

    {{ include('app/market/categories/_tabs.html.twig') }}

    <div class="controls">
        <a href="{{ path('market.categories.setting.edit', {'id': setting.id}) }}"
           class="btn btn-primary">Редактировать</a>
    </div>

    <div class="box">
        <table class="table table-bordered">
            <tbody>
                <tr>
                    <th>Meta Title</th>
                    <td>{{ setting.template.meta.title }}</td>
                </tr>
                <tr>
                    <th>Meta Description</th>
                    <td>{{ setting.template.meta.description }}</td>
                </tr>
                <tr>
                    <th>Meta OG Title</th>
                    <td>{{ setting.template.meta.ogTitle }}</td>
                </tr>
                <tr>
                    <th>Meta OG Description</th>
                    <td>{{ setting.template.meta.ogDescription }}</td>
                </tr>
                <tr>
                    <th>Seo H1</th>
                    <td>{{ setting.template.seo.heading }}</td>
                </tr>
                <tr>
                    <th>Seo Description</th>
                    <td>{{ setting.template.seo.description }}</td>
                </tr>
            </tbody>
        </table>
    </div>

{% endblock %}