{% extends 'base.html.twig' %}

{% block title %}Магазины{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('home') }}">Главная</a></li>
        <li class="breadcrumb-item"><a href="{{ path('blog') }}">Блог</a></li>
        <li class="breadcrumb-item"><a href="{{ path('blog.categories') }}">Магазины</a></li>
        <li class="breadcrumb-item"><a href="{{ path('blog.categories.setting.show', {'id': setting.id}) }}">Шаблоны</a></li>
        <li class="breadcrumb-item active">Редактировать</li>
    </ol>
{% endblock %}

{% block body %}

    {{ include('app/blog/categories/_tabs.html.twig') }}

    <div class="card">
        <div class="card-body">

            <div class="row">
                <div class="col-md-6">
                    <h5>Поддерживаемые переменные:</h5>
                    <ul>
                        <li>
                            [[name]] - название категории - Новости
                        </li>
                        <li>
                            [[day]] - текущий день - 01
                        </li>
                        <li>
                            [[month]] - текущий месяц - Ноябрь
                        </li>
                        <li>
                            [[year]] - текущий год - 2020
                        </li>
                    </ul>
                </div>
            </div>

            {{ form_start(form) }}
            {{ form_widget(form) }}
            <button type="submit" class="btn btn-primary">Сохранить</button>
            {{ form_end(form) }}

        </div>
    </div>

{% endblock %}